# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Logs and bakckup files
logs/
*.log
*.old.*
bak_*
old_*

# Config and schema - ignore real ones, track samples
/config/*
!/config/*.sample

# Ignore global config formats
*.cfg
*.json
*.json.*
*.bak

# Allow tracking of scripts
!/config
!/evogateway/

# Executables, services, scripts
*.sh
*.service

# Temporary folders
/tmp/
/bak/
/log/

# Optional: ignore ramses_rf (local dev copy)
ramses_rf/

# Virtual environment
venv/
.venv/

# OS junk
.DS_Store
.Trashes
Thumbs.db

# VS Code
.vscode/
