[Unit]
Description=MQTT gateway for evohome (Python) 
After=syslog.target network.target mosquitto.service usbip_bind.service
OnFailure=/opt/scripts/telegram/unit-status-telegram.sh@n.service

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evoGateway
User=root
WorkingDirectory=/opt/scripts/evohome/evogateway
ExecStart=/opt/scripts/evohome/evogateway/evogateway.sh --log /var/log/evogateway.log 
ExecStopPost=/opt/scripts/telegram/unit-status-telegram.sh evogateway $SERVICE_RESULT $EXIT_CODE $EXIT_STATUS 
Restart=on-failure
RestartSec=30
KillMode=process

[Install]
Alias=evogateway
WantedBy=multi-user.target
#WantedBy=mosquitto.service
