[Serial Port]
COM_PORT         = /dev/evogateway


[Files]
EVENTS_FILE      = events.log
LOG_FILE         = evogateway.log
DEVICES_FILE     = devices.json
NEW_DEVICES_FILE = devices_new.json   
SCHEMA_FILE                 = schema.json

[MQTT]
MQTT_PUB_TOPIC   = evohome/gateway
MQTT_SUB_TOPIC   = evohome/gateway/command
MQTT_SERVER      = 172.16.2.8
MQTT_USER        = openhab
MQTT_PW          = xxxx
MQTT_CLIENTID    = evoGateway

[SENDER]
THIS_GATEWAY_NAME           = EvoGateway
CONTROLLER_ID               = 01:xxxxxx
GATEWAY_DISABLE_SENDING     = False

# Try to match an acknowledgement from Controller for outbound commands (unless overridden via individual command json with 'wait_for_ack') 
COMMAND_RESEND_TIMEOUT_SECS = 10
COMMAND_RESEND_ATTEMPTS     = 2


[MISC]
# Display full json string from evohome_rf, or just key data item for each row 
DISPLAY_FULL_JSON            = False
MAX_LOG_HISTORY             = 10

