[Unit]
Description=Evohome Listener/Sender Gateway (Python) 
After=syslog.target

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evoGateway
User=root
WorkingDirectory=/opt/scripts/evohome/evogateway
ExecStart=/usr/bin/python /opt/scripts/evohome/evogateway/evogateway.py --log /var/log/evogateway.log 
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
Alias=evogateway
#WantedBy=default.target
#WantedBy=mosquitto.service
