[Unit]
Description=Evohome Listener/Sender Gateway (Python) 
After=syslog.target

[Service]
Type=simple
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=evoGateway
User=root
WorkingDirectory=/opt/_scripts/evohome/gateway
ExecStart=/usr/bin/python /opt/_scripts/evohome/gateway/evogateway.py --log /var/log/evogateway.log 
Restart=always
RestartSec=10
KillMode=process

