[Serial Port]
# Port is required
COM_PORT         = /dev/ttyUSB0

# optional
COM_BAUD         = 115200

# Optional
[Files]
EVENTS_FILE                 = events.log
PACKET_LOG_FILE             = packet.log
LOG_FILE_ROTATE_COUNT       = 9
LOG_FILE_ROTATE_BYTES       = 1000000

DEVICES_FILE                = devices.json
SCHEMA_FILE                 = ramses_rf_schema.json
LOAD_ZONES_FROM_FILE        = True



[MQTT]
# Required
MQTT_SERVER                 = 172.16.2.1
MQTT_USER                   = <user>
MQTT_PW                     = <password>

# Optional
MQTT_PUB_TOPIC              = evohome/evogateway
MQTT_SUB_TOPIC              = evohome/evogateway/_zone_independent/command

#Publish as a json string. If False, the key/values of the json will be published individually
MQTT_PUB_AS_JSON            = False

# Either group messages by zone name (default), otherwise by device name
MQTT_GROUP_BY_ZONE          = True


[MISC]
THIS_GATEWAY_NAME           = evoGateway

# Display full json string from evohome_rf, or just key data item for each row
DISPLAY_FULL_JSON            = False

# SCHEMA_EAVESDROP            = False

# Assumes that there is only a single HGI device on the network (in case of spurious HGI device addresses)
FORCE_SINGLE_HGI            = True
